<!DOCTYPE html>
<!--
	Prototype by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
  <head>
    <title>AutoAngle</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <script
      src="https://kit.fontawesome.com/324bf7fdfb.js"
      crossorigin="anonymous"
    ></script>
    <style>
      .upload-container {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }

      .dropzone {
        position: relative;
        border: 2px dashed #cccccc;
        border-radius: 8px;
        padding: 0.5rem;
        width: 100%;
        height: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-right: 0rem;
        font-size: 1rem;
        color: #888888;
      }

      .file-list {
          position: absolute;
          top: 0.2rem;
          left: 0.2rem;
          text-align: start;
          width: 95%;
          height: 95%;
          overflow: auto;
      }

      .rotate {
        animation: spin 2s linear infinite; 
      }
  
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    </style>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/main.css') }}"
    />
  </head>
  <body class="is-preload">
    <!-- Header -->
    <header id="header">
      <h1>
        <a
          href="{{ url_for('project') }}"
          class="fa-solid fa-chevron-left"
          style="text-decoration: none"
        ></a>
        <a href="{{ url_for('project')  }}">&nbsp;Back To Project</a>
      </h1>
      <a href="#menu">Projects</a>
    </header>

    <!-- Menu -->
    <nav id="menu">
      <ul class="links">
        <li><a href="{{ url_for('main') }}">Home</a></li>
        <li><a href="{{ url_for('project') }}">All Projects</a></li>
        {% for project in projects %}
        <li>
          <a href="{{ url_for('file', project_number=project_id) }}">
            {{ project.name }}</a
          >
        </li>
        {% endfor %}
      </ul>
      <ul class="actions stacked">
        <li>
          <a href="{{ url_for('logout') }}" class="button primary fit"
            >Logout</a
          >
        </li>
      </ul>
    </nav>

    <!-- Main -->
    <section style="padding: 8rem">
      <h2>{{ current_user.name }}'s Ongoing Files</h2>
      <br />
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th style="width: 2rem"></th>
              <th>Location</th>
              <th>Type</th>
              <th>Number of Images</th>
              <th>Last Updated</th>
              <th>Angles</th>
              <th style="width: 8rem"></th>
              <th style="width: 2rem"></th>
            </tr>
          </thead>
          <tbody>
            {% for file in files %}
            <tr>
              <td style="padding: 0.5em 0.5em; vertical-align:middle;">
                <a
                  href="{{ url_for('delete_file', project_number=project_id, file_id=file.id) }}"
                  class="fa-solid fa-square-minus"
                  style="text-decoration: none;"
                ></a>
              </td>
              <td style="padding: 0.5em 0.5em; vertical-align:middle;">{{ file.name1 }}</td>
              <td style="padding: 0.5em 0.5em; vertical-align:middle;">{{ file.name2 }}</td>
              <td style="padding: 0.5em 0.5em; vertical-align:middle;">{{ file.image_number }}</td>
              <td style="padding: 0.5em 0.5em; vertical-align:middle;">{{ file.file_time }}</td>
              <td style="padding: 0em 0.5em; vertical-align:middle;max-width: 40rem;">
                <div style="white-space: nowrap; overflow-x: auto; ">
                  {% for angle in file.selected_angles %}
                  <ul style="font-size: 1.1rem; display: inline; margin: 0; padding-right: 1em; padding-left: 0;">{{ angle }}</ul>
                  {% endfor %}
                </div>
              </td>
              <td style="padding: 0.3em 0.5em; vertical-align:middle;">
                <div class="inference-container">
                  <a
                    href="#"
                    class="button run {% if file.status != 'pending' %}disabled{% endif %}"
                    style="height: 2.6rem; font-size: 0.8rem"
                    {% if file.status == 'pending' %}onclick="startInference({{ project_id }}, {{ file.id }})"{% endif %}
                    {% if file.status != 'pending' %}disabled{% endif %}
                    ><i class="fa-solid fa-circle-play fa-lg"></i> Run</a
                  >
                  <span id="status-{{ file.id }}" class="status">
                    {% if file.status == 'processing' %}
                        <span class="processing"><i class="fa-solid fa-spinner fa-lg rotate"></i> Processing</span>
                    {% elif file.status == 'completed' %}
                        <span class="completed"><i class="fa-regular fa-circle-check fa-xl" style="color: #63E6BE;"></i> Completed</span>
                    {% elif file.status == 'failed' %}
                        <span class="failed"><i class="fa-regular fa-circle-xmark fa-xl" style="color: #ff0000;"></i> Failed</span>
                    {% endif %}
                  </span>
                </div>
              </td>
              <td style="text-align: right; vertical-align:middle;">
                <a href="{{ url_for('processing', project_id = project_id, file_id = file.id) }}"
                id="link-{{ file.id }}"
                class="fa-solid fa-chevron-right {% if file.status != 'completed' %}disabled-link{% endif %}"
                style="text-decoration: none;"
                {% if file.status != 'completed' %}
                onclick="return false;"
                {% endif %}
                ></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <br />
        <br />
        <br />
        <h2>Adding New Files</h2>
        <form
          method="POST"
          action="{{ url_for('file', project_number=project_id) }}"
          enctype="multipart/form-data"
        >
          <div class="container">
            <div class="row">
              <div class="col-3 col-8-small" style="min-width: 16rem;">
                <select name="location" id="location" required>
                  <option value="" selected disabled hidden>Location</option>
                  <option value="Foot">Foot</option>
                  <option value="Ankle">Ankle</option>
                  <option value="Knee">Knee</option>
                  <option value="Hip">Hip</option>
                  <option value="Shoulder">Shoulder</option>
                  <option value="Elbow">Elbow</option>
                  <option value="Wrist">Wrist</option>
                  <option value="Spine">C-Spine</option>
                  <option value="Spine">T-Spine</option>
                  <option value="Spine">L-Spine</option>
                </select>
              </div>

              <div class="col-3 col-8-small" style="min-width: 16rem;">
                <select name="view" id="view" required>
                  <option value="" selected disabled hidden>Type Of Image</option>
                  <option value="AnteroPosterior">AnteroPosterior</option>
                  <option value="Lateral">Lateral</option>
                  <option value="Translateral">Translateral</option>
                  <option value="Skyline View">Skyline View</option>
                  <option value="Scapula Y view">Scapula Y View</option>
                  <option value="Whole Lower Extremity (BellThombson)">
                    Whole Lower Extremity (BellThombson)
                  </option>
                  <option value="Whole Spine AnteroPosterior">
                    Whole Spine AnteroPosterior
                  </option>
                  <option value="Whole spine Lateral">
                    Whole Spine Lateral
                  </option>
                </select>
              </div>

              <div class="col-3 col-8-small" style="min-width: 16rem;">
                <div class="multiselect-dropdown">
                  <div class="select-box" onclick="toggleDropdown()">
                      <select>
                          <option>Select Angles</option>
                      </select>
                      <div class="over-select"></div>
                  </div>
              
                  <div id="checkboxes" class="checkboxes">
                      <label for="option1">
                          <input type="checkbox" id="option1" name="angles" value="TibioCalcaneal Angle"/>TibioCalcaneal Angle
                      </label>
                      <label for="option2">
                          <input type="checkbox" id="option2" name="angles" value="TaloCalcaneal Angle"/>TaloCalcaneal Angle
                      </label>
                      <label for="option3">
                          <input type="checkbox" id="option3" name="angles" value="Calcaneal Pitch"/>Calcaneal Pitch
                      </label>
                      <label for="option4">
                          <input type="checkbox" id="option4" name="angles" value="Meary's Angle"/>Meary's Angle
                      </label>
                  </div>
                </div>
              </div>

              <div class="col-3"></div>

            </div>

            <div class="row" style="padding-top: 0.7rem; align-items: flex-end;">
              <div class="col-6 col-8-small" style="min-width: 16rem;">
                <div id="dropzone" class="dropzone">
                  <div style="padding-top: 0.5rem;">Drag & Drop Files here &nbsp;&nbsp;&nbsp;&nbsp; or &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="file" name="files[]" id="file-input" accept="image/*" multiple style="display: none;" />
                    <button type="button" id="file-upload-btn" class="button primary">Browse Files</button>
                  </div>
                </div>
              </div>

              <div class="col-3 col-8-small" style="min-width: 16rem">
                <div class="dropzone">
                  <div id="file-list" class="file-list"> 
                    <span class="placeholder">Uploaded Images</span>
                  </div>
                </div>
              </div>

              <div
                class="col-3 col-4-small"
                style="
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-end;
                  min-width: 16rem;
                  padding-top: 1rem;
                "
              >
                <button
                  type="submit"
                  id="upload-form"
                  class="button primary icon solid fa-download"
                >
                  Upload Files
                </button>
              </div>
            </div>
          </div>
        </form>
        <!-- <div class="container">
					<div class="row" style="display: flex;">
						<div class="col-5" id="dropzone" class="dropzone">
							Drag and drop images here
						</div>
						<div class="col-5">
							<input type="file" name="demo-file" id="demo-file" accept="image/*" />
						</div>
					</div>
				</div> -->
      </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
      <div class="inner">
        <ul class="icons">
          <li>
            <a href="#" class="icon brands fa-twitter"
              ><span class="label">Twitter</span></a
            >
          </li>
          <li>
            <a href="#" class="icon brands fa-facebook-f"
              ><span class="label">Facebook</span></a
            >
          </li>
          <li>
            <a href="#" class="icon brands fa-instagram"
              ><span class="label">Instagram</span></a
            >
          </li>
          <li>
            <a href="#" class="icon brands fa-github"
              ><span class="label">GitHub</span></a
            >
          </li>
          <li>
            <a href="#" class="icon brands fa-linkedin-in"
              ><span class="label">LinkedIn</span></a
            >
          </li>
          <li>
            <a href="#" class="icon solid fa-envelope"
              ><span class="label">Envelope</span></a
            >
          </li>
        </ul>
        <ul class="contact">
          <li>12345 Somewhere Road</li>
          <li>Nashville, TN 00000</li>
          <li>(000) 000-0000</li>
        </ul>
        <ul class="links">
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <p class="copyright">
          &copy; Untitled. All rights reserved. Lorem ipsum dolor.
        </p>
      </div>
    </footer>

    <!-- Scripts -->

    <script>
      // JavaScript for handling drag and drop
      const dropzone = document.getElementById("dropzone");
      const fileInput = document.getElementById("file-input");
      const fileUploadBtn = document.getElementById("file-upload-btn");
      const fileList = document.getElementById("file-list");

      function updateFileList() {
        fileList.innerHTML = "";
        for (let file of fileInput.files) {
          const fileItem = document.createElement("div");
          fileItem.textContent = file.name;
          fileList.appendChild(fileItem);
        }
      } 

      dropzone.addEventListener("dragover", (e) => {
        e.preventDefault();
        dropzone.classList.add("dragover");
      });

      dropzone.addEventListener("dragleave", () => {
        dropzone.classList.remove("dragover");
      });

      dropzone.addEventListener("drop", (e) => {
        e.preventDefault();
        dropzone.classList.remove("dragover");
        fileInput.files = e.dataTransfer.files;
        updateFileList();
      });

      document.addEventListener("drop", (e) => {
        if (!dropzone.contains(e.target)) {
          e.preventDefault();
        }
      });

      document.addEventListener("dragover", (e) => {
        e.preventDefault();
      });

      fileUploadBtn.addEventListener("click", () => {
        fileInput.click();
      });

      fileInput.addEventListener("change", updateFileList);

      document.getElementById("upload-form").addEventListener("submit", (e) => {
        if (fileInput.files.length === 0) {
          e.preventDefault();
          alert("Please upload at least one file.");
        }
      });
    </script>
    <script>
      let expanded = false;

      function toggleDropdown() {
          const checkboxes = document.getElementById("checkboxes");
          if (!expanded) {
              checkboxes.style.display = "block";
              expanded = true;
          } else {
              checkboxes.style.display = "none";
              expanded = false;
          }
      }

      document.addEventListener("click", function (event) {
          const dropdown = document.querySelector(".multiselect-dropdown");
          if (!dropdown.contains(event.target)) {
              document.getElementById("checkboxes").style.display = "none";
              expanded = false;
          }
      });
    </script>
    <script>
      // Javascript for restriction
      function handleDisabledLinkClick(e) {
        if (e.currentTarget.classList.contains('disabled-link')) {
            e.preventDefault();
            alert('Processing is not completed yet. Please click RUN button and wait until the processing is finished.');
        }
      }
    </script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var Links = document.querySelectorAll('[id^="link-"]');
        Links.forEach(function(link) {
            link.addEventListener('click', handleDisabledLinkClick);
        });

        var pageLoadType = performance.getEntriesByType("navigation")[0].type;
        console.log(pageLoadType);

        // 뒤로가기로 돌아온 경우 0.01초 후에 새로고침
        if (pageLoadType === 'back_forward') {
            setTimeout(function() {
              location.reload();
            }, 10);
        }
      })
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
      // Javascript for SocketIO
      var socket = io();
    
      socket.on('connect', function() {
          console.log('Connected to server');
      });
  
      function startInference(projectId, fileId) {
        var button = document.querySelector(`a[onclick="startInference(${projectId}, ${fileId})"]`);
        if (button && !button.classList.contains('disabled')) {
          socket.emit('start_inference', {'project_id': projectId, 'file_id': fileId});
          var statusElement = document.getElementById(`status-${fileId}`);
          statusElement.innerHTML = '<span class="processing"><i class="fa-solid fa-spinner fa-lg rotate"></i> Processing <span class="progress">0</span>%</span>';
  
          button.classList.add('disabled');
          button.onclick = null;
        }
      }

      socket.on('inference_progress', function(data) {
          var progressElement = document.querySelector(`#status-${data.file_id} .progress`);
          if (progressElement) {
              progressElement.textContent = data.progress;
          }
      });

      socket.on('inference_complete', function(data) {
          var statusElement = document.getElementById(`status-${data.file_id}`);
          var button = document.querySelector(`a[onclick="startInference({{ project_id }}, ${data.file_id})"]`);
          var link = document.getElementById(`link-${data.file_id}`);

          if (statusElement) {
              if (data.status === 'completed') {
                  statusElement.innerHTML = '<span class="completed"><i class="fa-regular fa-circle-check fa-xl" style="color: #63E6BE;"></i> Completed</span>';

                  if (link) {
                    link.classList.remove('disabled-link');
                    link.onclick = null;
                  }
              } else if (data.status === 'failed') {
                  statusElement.innerHTML = '<span class="failed"><i class="fa-regular fa-circle-xmark fa-xl" style="color: #ff0000;"></i> Failed</span>';
              }
          }
          if (button) {
            button.classList.add('disabled');
            button.onclick = null;
          }
      });
    </script>

    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
  </body>
</html>
