<!DOCTYPE html>
<!--
	Prototype by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
  <head>
    <title>AutoAngle</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <script
      src="https://kit.fontawesome.com/324bf7fdfb.js"
      crossorigin="anonymous"
    ></script>
    <style>
      .upload-container {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }

      .dropzone {
        border: 2px dashed #cccccc;
        border-radius: 8px; /* 모서리가 둥글게 설정 */
        padding: 20px;
        width: 50rem;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-right: 10px;
        font-size: 1rem;
        color: #888888;
      }
    </style>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/main.css') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/selectize@0.12.6/dist/css/selectize.default.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/selectize@0.12.6/dist/js/standalone/selectize.min.js"></script>
  </head>
  <body class="is-preload">
    <!-- Header -->
    <header id="header">
      <h1><a href="{{ url_for('main') }}">AutoAngle</a></h1>
      <a href="#menu">Projects</a>
    </header>

    <!-- Menu -->
    <nav id="menu">
      <ul class="links">
        <li><a href="{{ url_for('main') }}">Home</a></li>
        <li><a href="{{ url_for('project') }}">All Projects</a></li>
        {% for project in projects %}
        <li>
          <a href="{{ url_for('file', project_number=project_id) }}">
            {{ project.name }}</a
          >
        </li>
        {% endfor %}
      </ul>
      <ul class="actions stacked">
        <li>
          <a href="{{ url_for('logout') }}" class="button primary fit"
            >Logout</a
          >
        </li>
      </ul>
    </nav>

    <!-- Main -->
    <section style="padding: 8rem">
      <h2>{{ current_user.name }}'s Ongoing Files</h2>
      <br />
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th style="width: 2rem"></th>
              <th>Location</th>
              <th>Type</th>
              <th>Number of Images</th>
              <th>Last Updated</th>
              <th style="width: 2rem"></th>
            </tr>
          </thead>
          <tbody>
            {% for file in files %}
            <tr>
              <td>
                <a
                  href="{{ url_for('delete_file', project_number=project_id, file_id=file.id) }}"
                  class="fa-solid fa-square-minus"
                ></a>
              </td>
              <td>{{ file.name1 }}</td>
              <td>{{ file.name2 }}</td>
              <td>{{ file.image_number }}</td>
              <td>{{ file.file_time }}</td>
              <td>
                <div class="inference-container">
                  <a
                    href="{{ url_for('batch_inference', project_id=project_id, file_id=file.id) }}"
                    class="button small"
                    style="height: 3rem; font-size: 0.8rem"
                    >Run Inference</a
                  >
                  <span
                    class="completed-status {% if file.inference_complete %}visible{% endif %}"
                    >Completed</span
                  >
                </div>
              </td>
              <td style="text-align: right">
                <a
                  href="{{ url_for('processing', project_id = project_id, file_id = file.id) }}"
                  class="fa-solid fa-chevron-right"
                  style="text-decoration: none"
                ></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <br />
        <br />
        <br />
        <h2>Adding New Files</h2>
        <form
          method="POST"
          action="{{ url_for('file', project_number=project_id) }}"
          enctype="multipart/form-data"
        >
          <div class="container">
            <div class="row">
              <div class="col-2 col-12-xsmall">
                <select name="location" id="location">
                  <option value="">Location</option>
                  <option value="Foot">Foot</option>
                  <option value="Ankle">Ankle</option>
                  <option value="Knee">Knee</option>
                  <option value="Hip">Hip</option>
                  <option value="Shoulder">Shoulder</option>
                  <option value="Elbow">Elbow</option>
                  <option value="Wrist">Wrist</option>
                  <option value="Spine">C-Spine</option>
                  <option value="Spine">T-Spine</option>
                  <option value="Spine">L-Spine</option>
                </select>
              </div>

              <div class="col-2 col-12-xsmall">
                <select name="view" id="view">
                  <option value="">Type Of Image</option>
                  <option value="AnteroPosterior">AnteroPosterior</option>
                  <option value="Lateral">Lateral</option>
                  <option value="Translateral">Translateral</option>
                  <option value="Skyline View">Skyline View</option>
                  <option value="Scapula Y view">Scapula Y View</option>
                  <option value="Whole Lower Extremity (BellThombson)">
                    Whole Lower Extremity (BellThombson)
                  </option>
                  <option value="Whole Spine AnteroPosterior">
                    Whole Spine AnteroPosterior
                  </option>
                  <option value="Whole spine Lateral">
                    Whole Spine Lateral
                  </option>
                </select>
              </div>
            </div>

            <div class="row" style="padding-top: 0.7rem">
              <div class="col-6">
                <div id="dropzone" class="dropzone">
                  파일을 마우스로 끌어 오세요
                </div>
              </div>
              <div
                class="col-2 col-12-xsmall"
                style="
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-end;
                "
              >
                <input
                  type="file"
                  name="files[]"
                  id="file-input"
                  accept="image/*"
                  multiple
                />
              </div>
              <div class="col-1 col-12-xsmall"></div>
              <div
                class="col-3 col-12-xsmall"
                style="
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-end;
                "
              >
                <button
                  type="submit"
                  class="button primary icon solid fa-download"
                >
                  Upload Files
                </button>
              </div>
            </div>
          </div>
        </form>
        <!-- <div class="container">
					<div class="row" style="display: flex;">
						<div class="col-5" id="dropzone" class="dropzone">
							Drag and drop images here
						</div>
						<div class="col-5">
							<input type="file" name="demo-file" id="demo-file" accept="image/*" />
						</div>
					</div>
				</div> -->
      </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
      <div class="inner">
        <ul class="icons">
          <li>
            <a href="#" class="icon brands fa-twitter"
              ><span class="label">Twitter</span></a
            >
          </li>
          <li>
            <a href="#" class="icon brands fa-facebook-f"
              ><span class="label">Facebook</span></a
            >
          </li>
          <li>
            <a href="#" class="icon brands fa-instagram"
              ><span class="label">Instagram</span></a
            >
          </li>
          <li>
            <a href="#" class="icon brands fa-github"
              ><span class="label">GitHub</span></a
            >
          </li>
          <li>
            <a href="#" class="icon brands fa-linkedin-in"
              ><span class="label">LinkedIn</span></a
            >
          </li>
          <li>
            <a href="#" class="icon solid fa-envelope"
              ><span class="label">Envelope</span></a
            >
          </li>
        </ul>
        <ul class="contact">
          <li>12345 Somewhere Road</li>
          <li>Nashville, TN 00000</li>
          <li>(000) 000-0000</li>
        </ul>
        <ul class="links">
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <p class="copyright">
          &copy; Untitled. All rights reserved. Lorem ipsum dolor.
        </p>
      </div>
    </footer>

    <!-- Scripts -->
    <script>
      // JavaScript for handling drag and drop
      const dropzone = document.getElementById("dropzone");
      const fileInput = document.getElementById("file-input");

      dropzone.addEventListener("dragover", (e) => {
        e.preventDefault();
        dropzone.classList.add("dragover");
      });

      dropzone.addEventListener("dragleave", () => {
        dropzone.classList.remove("dragover");
      });

      dropzone.addEventListener("drop", (e) => {
        e.preventDefault();
        dropzone.classList.remove("dragover");
        fileInput.files = e.dataTransfer.files;
      });

      document.getElementById("upload-form").addEventListener("submit", (e) => {
        if (fileInput.files.length === 0) {
          e.preventDefault();
          alert("Please t least one file.");
        }
      });

      // JS for angle selection
    </script>

    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
  </body>
</html>
