<!DOCTYPE HTML>
<!--
	Prototype by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>AutoAngle</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<h1><a href="{{ url_for('main') }}}}">AutoAngle</a></h1>
				<a href="#menu">Menu</a>
			</header>

		<!-- Menu -->
		<nav id="menu">
			<ul class="links">
				<li><a href="{{ url_for('main') }}">Home</a></li>
				<li><a href="{{ url_for('info') }}">Usage Information</a></li>
				<li><a href=" {{ url_for('article') }} ">Related Article</a></li>
				{% if current_user.is_authenticated %}
					<li><a href=" {{ url_for('project') }} ">{{ current_user.name }}'s projects</a></li>
				{% else %}
				{% endif %}
			</ul>
			<!-- <ul class="links">
				<li><a href="{{ url_for('main') }}">Halux valgus</a></li>
				<li><a href="{{ url_for('info') }}">Pesplanus</a></li>
				<li><a href=" {{ url_for('article') }} ">Prolia</a></li>
			</ul> -->
			<ul class="actions stacked">
				{% if current_user.is_authenticated %}
					<li><a href="{{ url_for('logout') }}" class="button primary fit">Logout</a></li>
				{% else %}
					<li><a href="{{ url_for('register') }}" class="button primary fit">Sign Up</a></li>
					<li><a href="{{ url_for('login') }}" class="button fit">Log In</a></li>
				{% endif %}
			</ul>
		</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<header>
					<h2>Usage Information</h2>
					<p>Lorem justo in tellus aenean lacinia felis.</p>
				</header>
				<div class="inner">
					<p class="guide-intro">Welcome to the AutoAngle user guide. This guide will walk you through the essential steps to effectively use our AI-driven orthopedic X-ray analysis service. Follow these instructions to get the most out of AutoAngle and streamline your radiological workflow.</p>
				
					<div class="instruction-container">
						<div class="instruction-box">
							<div class="instruction-content">
								<h3>1. Sign Up and Sign In</h3>
								<p>Sign up with your own name, e-mail, password. Then login to start your project!</p>
							</div>
							<div class="instruction-video">
								<video autoplay loop muted playsinline>
									<source src="static\videos\1.SignUp.mp4" type="video/mp4">
									Your browser does not support the video tag.
								</video>
							</div>
						</div>
				
						<div class="instruction-box">
							<div class="instruction-content">
								<h3>2. Create a Project</h3>
								<p>Enter a project name and description and create your project!</p>
							</div>
							<div class="instruction-video">
								<video autoplay loop muted playsinline>
									<source src="static\videos\2.Project.mp4" type="video/mp4">
									Your browser does not support the video tag.
								</video>
							</div>
						</div>
				
						<div class="instruction-box">
							<div class="instruction-content">
								<h3>3. Upload your files</h3>
								<p>After setting the X-ray area and view, drag or upload your file to upload it.</p>
							</div>
							<div class="instruction-video">
								<video autoplay loop muted playsinline>
									<source src="static\videos\3.FileUpload.mp4" type="video/mp4">
									Your browser does not support the video tag.
								</video>
							</div>
						</div>
				
						<div class="instruction-box">
							<div class="instruction-content">
								<h3>4. Review and Confirm Results</h3>
								<p>After processing, review the AI-generated measurements and analysis. You can make adjustments if necessary before finalizing the results.</p>
							</div>
							<div class="instruction-video">
								<video autoplay loop muted playsinline>
									<source src="static\videos\4.Modify.mp4" type="video/mp4">
									Your browser does not support the video tag.
								</video>
							</div>
						</div>
				
						<div class="instruction-box">
							<div class="instruction-content">
								<h3>5. Export the Results</h3>
								<p>Export your results in various formats for integration with other systems or for record-keeping. You can also share results directly with colleagues or patients.</p>
							</div>
							<div class="instruction-video">
								<video autoplay loop muted playsinline>
									<source src="static\videos\5.Export.mp4" type="video/mp4">
									Your browser does not support the video tag.
								</video>
							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon solid fa-envelope"><span class="label">Envelope</span></a></li>
					</ul>
					<ul class="contact">
						<li>12345 Somewhere Road</li>
						<li>Nashville, TN 00000</li>
						<li>(000) 000-0000</li>
					</ul>
					<ul class="links">
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Support</a></li>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
					<p class="copyright">&copy; Untitled. All rights reserved. Lorem ipsum dolor.</p>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>