<!DOCTYPE HTML>
<!--
	Prototype by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>AutoAngle</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<h1><a href="{{ url_for('main') }}}}">AutoAngle</a></h1>
				<a href="#menu">Menu</a>
			</header>

		<!-- Menu -->
		<nav id="menu">
			<ul class="links">
				<li><a href="{{ url_for('main') }}">AutoAngle</a></li>
				<li><a href="{{ url_for('info') }}">Usage Information</a></li>
				<li><a href=" {{ url_for('article') }} ">Related Article</a></li>

			</ul>
			<!-- <ul class="links">
				<li><a href="{{ url_for('main') }}">Halux valgus</a></li>
				<li><a href="{{ url_for('info') }}">Pesplanus</a></li>
				<li><a href=" {{ url_for('article') }} ">Prolia</a></li>
			</ul> -->
			{% if current_user.is_authenticated %}
			<ul class="actions stacked">
				<li><a href="{{ url_for('project') }}" class="button secondary fit">Project Start</a></li>
				<p></p>
			{% else %}
			{% endif %}
			<ul class="actions stacked">
				{% if current_user.is_authenticated %}
					<li><a href="{{ url_for('logout') }}" class="button primary fit">Logout</a></li>
				{% else %}
					<li><a href="{{ url_for('register') }}" class="button primary fit">Sign Up</a></li>
					<li><a href="{{ url_for('login') }}" class="button fit">Log In</a></li>
				{% endif %}
			</ul>
		</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<header>
					<h2>Information</h2>
					<p>Learn about the innovative journey behind AutoAngle and discover how to seamlessly integrate it into your orthopedic imaging workflow.</p>
				</header> 
				<div class="inner">
					<p>AutoAngle was born out of a collaborative project at a bootcamp hosted by the Research of Doctor Physician Programmers under KoSAIM. This project brought together medical students and specialists, forming a team dedicated to advancing orthopedic imaging analysis through technology and innovation.</p>
					<p>Using cutting-edge computer vision and deep learning techniques, the team trained the system to accurately measure critical angles in x-ray images. This process involved developing a proprietary algorithm capable of delivering precise and reliable results, revolutionizing the way orthopedic conditions are diagnosed and managed.</p>
					<hr />
					<h3>User guide</h3>
					<ol>
						<li>
							<span class="step-title">Sign Up and Log In</span>
							<p>To access the AutoAngle service, you must first sign up and log in.</p>
						</li>
						<li>
							<span class="step-title">Create a Project</span>
							<p>Start by creating a new project for your analysis.</p>
						</li>
						<li>
							<span class="step-title">Select Site and X-ray Type, Then Upload Files</span>
							<p>Choose the anatomical site and type of x-ray, then upload the relevant files.</p>
						</li>
						<li>
							<span class="step-title">Enter Processing Mode</span>
							<p>Enter processing mode to begin analyzing the uploaded files.</p>
						</li>
						<li>
							<span class="step-title">Review and modify Angles for Each Image, Then Confirm</span>
							<p>Check the measured angles for each x-ray image, make adjustments if necessary, and click the confirm button.</p>
						</li>
						<li>
							<span class="step-title">Export the Data as an Excel File</span>
							<p>Export the final data in Excel format for your records.</p>
						</li>
					</ol>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon solid fa-envelope"><span class="label">Envelope</span></a></li>
					</ul>
					<ul class="contact">
						<li>12345 Somewhere Road</li>
						<li>Nashville, TN 00000</li>
						<li>(000) 000-0000</li>
					</ul>
					<ul class="links">
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Support</a></li>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
					<p class="copyright">&copy; Untitled. All rights reserved. Lorem ipsum dolor.</p>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>