<!DOCTYPE HTML>
<!--
	Prototype by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>AutoAngle</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
        <script src="https://kit.fontawesome.com/324bf7fdfb.js" crossorigin="anonymous"></script>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<h1><a href="{{ url_for('main') }}">AutoAngle</a></h1>
				<a href="#menu">Projects</a>
			</header>

		<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{{ url_for('main') }}">Home</a></li>
					{% for project in projects%}
					<li><a href="{{ url_for('file', project_number=project.id) }}">{{ project.name }}</a></li>
					{% endfor %}
				</ul>
				<ul class="actions stacked">
					<li><a href="{{ url_for('logout') }}" class="button primary fit">Logout</a></li>
				</ul>
			</nav>

		<!-- Main -->
        <section style="padding: 8rem;">
            <h2>{{ current_user.name }}'s Ongoing Projects</h2>
            <br>
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th style="width: 2rem;"></th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Creating Date</th>
                            <th style="width: 2rem;"></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for project in projects %}
                            <tr>
                                <td><a href="{{ url_for('delete_project', project_id=project.id) }}" class="fa-solid fa-square-minus"></a></td>
                                <td>{{ project.name }}</td>
                                <td>{{ project.description }}</td>
                                <td>{{ project.project_time }}</td>
                                <td><a href='{{ url_for('file', project_number=project.id) }}' class="fa-solid fa-chevron-right" style="text-decoration: none;"></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br>
                <br>
                <form method="post" action="#">
                    <div class="row gtr-uniform">
                        <div class="col-4 col-12-xsmall">
                            <input type="text" name="project-name" id="project-name" placeholder="Name" style="height: 4rem;"/>
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <input type="text" name="project-description" id="project-description" placeholder="Description" style="height: 4rem;" required/>
                        </div>
                        <div class="col-2 col-12-xsmall">
                            <button type="submit" class="button primary fit small">
                                Add Project
                            </button>
                        </div>
                </form>

            </div>
        </section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon solid fa-envelope"><span class="label">Envelope</span></a></li>
					</ul>
					<ul class="contact">
						<li>12345 Somewhere Road</li>
						<li>Nashville, TN 00000</li>
						<li>(000) 000-0000</li>
					</ul>
					<ul class="links">
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Support</a></li>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
					<p class="copyright">&copy; Untitled. All rights reserved. Lorem ipsum dolor.</p>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>