<!DOCTYPE HTML>
<!--
	Prototype by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>AutoAngle</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<h1><a href="{{ url_for('main') }}}}">AutoAngle</a></h1>
				<a href="#menu">Menu</a>
			</header>

		<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{{ url_for('main') }}">Home</a></li>
					<li><a href="{{ url_for('info') }}">Usage Information</a></li>
					<li><a href=" {{ url_for('article') }} ">Related Article</a></li>
				</ul>
				<ul class="actions stacked">
					<li><a href="{{ url_for('register') }}" class="button primary fit">Sign Up</a></li>
					<li><a href="{{ url_for('login') }}" class="button fit">Log In</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<header>
					<h2>Register</h2>
					<p>Lorem justo in tellus aenean lacinia felis.</p>
				</header>
                <div style="display: flex; justify-content: center;">
					<div class="box" style="width: 30rem;">
						{% with messages = get_flashed_messages() %}
						{% if messages : %}
						
						  {% for message in messages :%}
							<p>{{message}}</p>
						  {% endfor %}
					  
						{% endif %}
						{% endwith %}
						<form action="{{ url_for('register') }}" method="post">
							<input type="text" name="name" placeholder="Name" required="required" />
							<br>
							<input type="email" name="email" placeholder="Email" required="required" />
							<br>
							<input type="password" name="password" placeholder="Password" required="required" />
							<br>
							<div style="display: flex; justify-content: center;">
								<button type="submit" class="btn btn-primary btn-block btn-large">Sign me up.</button>
							</div>
							
						</form>
					</div>
                </div>

			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon solid fa-envelope"><span class="label">Envelope</span></a></li>
					</ul>
					<ul class="contact">
						<li>12345 Somewhere Road</li>
						<li>Nashville, TN 00000</li>
						<li>(000) 000-0000</li>
					</ul>
					<ul class="links">
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Support</a></li>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
					<p class="copyright">&copy; Untitled. All rights reserved. Lorem ipsum dolor.</p>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>